body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 5px;
}

img {
    max-width: 100px;
    max-height: 100px;
}

#container-botoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}
